<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353296137614-6u3sjm2jkccbjno70iof163sk5pshuip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353296137614-6u3sjm2jkccbjno70iof163sk5pshuip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>353296137614-nfn64i4oprvqht8v9t7ejd016mp8i6cp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZZAmXZ2h7LokJPPsFQDnlokq-Ep3DOag</string>
	<key>GCM_SENDER_ID</key>
	<string>353296137614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.scsnlaboveorbelow</string>
	<key>PROJECT_ID</key>
	<string>aboveorbelow-2644e</string>
	<key>STORAGE_BUCKET</key>
	<string>aboveorbelow-2644e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353296137614:ios:d6020edd03bcb9b94678df</string>
	<key>DATABASE_URL</key>
	<string>https://aboveorbelow-2644e-default-rtdb.firebaseio.com</string>
</dict>
</plist>